@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "./assets/css/fonts.css";
@import "./assets/css/main.css";
@import "./assets/css/ui/button.css";
@import "./assets/css/res.css";
